
client-app/android/app/google-services.json
client-app/ios/firebase_app_id_file.json
client-app/ios/Runner/GoogleService-Info.plist
client-app/lib/firebase_options.dart
client-app/build
client-app/.dart_tool
client-app/.flutter-plugins-dependencies
/.vscode
client-app/.flutter-plugins
client-app/pubspec.lock
/client-app/macos
